

// Here is all scss code for state modifiers 

// Start code here 



// --- Font Classes ---


// -- Font Family --

.font-family--primary {
  font-family: $font-family--primary; }

.font-family--secondary {
  font-family: $font-family--secondary; }


// -- Font Weight -- 

.font-weight--light {
  font-weight: $font-weight--light; }

.font-weight--regular {
  font-weight: $font-weight--regular; }

.font-weight--bold {
  font-weight: $font-weight--bold; }



