

// Start code here 


.btn--hero {
	margin: 30px auto 44px auto;
	
	@include min-1200 {
		margin: 35px 0 0 0; }

	&:active {
		transform: scale(.95); }}
		
.btn--center {
	margin-left: auto;
	margin-right: auto; }