

// Start code here 



// --- Font --- 


// -- Base Font -- 


$base__font-size: 16px;
$base__line-height: 24px;


// -- Font Family --


$font-family--primary: "Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
$font-family--secondary: "Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
$font-family--tertiary: // Safari for OS X and iOS (San Francisco)
                        -apple-system,
                        // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
                        system-ui,
                        // Chrome < 56 for OS X (San Francisco)
                        BlinkMacSystemFont,
                        // Windows
                        "Segoe UI",
                        // Android
                        "Roboto",
                        // Basic web fallback
                        "Helvetica Neue", Arial, sans-serif; // In case, second family becomes another typeface (for dual typeface web page)
$font-family--print: Georgia,Cambria,"Times New Roman",Times,serif; 


// -- Font Weights --


$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--bold: 700;



// --- Colors --- 


// -- Descriptive Base Colors -- 

// - Black and White - 


$white: #fff;
$black: hsl(90, 3%, 20%);
$grey: hsl(90, 14%, 93%);


// - Colorful - 

// Color naming: http://chir.ag/projects/name-that-color 


$limeade: hsl(90, 100%, 40%);
$dark-blue: hsl(232, 100%, 40%);
$electric-violet: hsl(292, 100%, 40%);
$buddha-gold: hsl(46, 100%, 40%);


// -- Color Usage -- 


$color-primary: $limeade;
$color-secondary: $dark-blue;
$color-tertiary: $electric-violet;
$color-quaternary: $buddha-gold;
$color-shadow: rgba($black, .08);



// --- Color Maps --- 


/*// -- Simple Color Map Palette -- 

// Connected to bg-color() mixin, we can generate additional classes with it


$ui-colors: ( 
  default: $fountain-blue,
  success: $emerald,
  error: $sungalo,
  warning: $coral,
  info: $purple-majesty ); */


// -- All Color Palettes -- 

// Conected to palette() function, through which we call colors 

/* To ease front end */
// blacks, base: headings, menu, footer titles
// blacks, light: footer menu, sidebar title left (or even right)
// blacks, x-light: Featured, footer text, sidebar mute text
// blacks, xx-light: footer quote, advance page subtitle text 
// grey, base: body background


$palettes: (
  whites: (
    base: $white
  ),
  grey: (
    base: $grey
  ),
  blacks: (
    xx-light: change_color($black, $saturation: 3%, $lightness: 60%),
    x-light: change_color($black, $saturation: 3%, $lightness: 50%),
    light: change_color($black, $saturation: 3%, $lightness: 40%),
    base: $black
  ),
  primary: (
    light: change_color($color-primary, $alpha: 0.55),
    base: $color-primary,
    dark: change_color($color-primary, $saturation: 100%, $lightness: 25%)
  ),
  secondary: (
    light: change_color($color-secondary, $alpha: 0.55),
    base: $color-secondary,
    dark: change_color($color-secondary, $saturation: 100%, $lightness: 25%)
  ),
  tertiary: (
    light: change_color($color-tertiary, $alpha: 0.55),
    base: $color-tertiary,
    dark: change_color($color-tertiary, $saturation: 100%, $lightness: 25%)
  ),
  quaternary: (
    light: change_color($color-quaternary, $alpha: 0.55),
    base: $color-quaternary,
    dark: change_color($color-quaternary, $saturation: 100%, $lightness: 33%),
    x-dark: change_color($color-quaternary, $saturation: 100%, $lightness: 25%)
  )
);



// --- Transitions --- 


$tr: 0.2s;