

// Start code here


// Homepage
.main {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #fff;
  animation: fadeIn .5s;
  transition: transform .5s, display 0s 0s; }

.offpage-active .main {
  display: none;
  opacity: 0;
  transition: transform .5s, display 0s .3s;

  @media only screen and (min-width: 1200px) {
    display: block;
    position: fixed;
    opacity: 1;
    transform: translateX(-14%); }}

.homepage-load {
  position: relative;
  z-index: 100;
  opacity: .2;
  transition: opacity .7s;

  @include min-1200 {
    transform-origin: 50% 40%; }}