

// Here is all scss code for header blocks and elements 

// Start code here 



.header {
	width: 100%;
	height: 50px;
	background-color: palette(grey,xx-light);
	z-index: 3000; }



// Headroom.js Classes 

// To implement it use this script:

/* 
<script>
(function() {

	var header = new Headroom(document.querySelector("#header"), {
    tolerance: 5,
    offset : 205,
    classes: {
	    initial: "headroom",
	    pinned: "headroom--pinned",
	    unpinned: "headroom--unpinned"
    }
	});
	header.init();

}());
</script> */ 

// or instead of those classes, add these ones: 

/* 
classes: {
  initial: "animated",
  pinned: "slideDown",
  unpinned: "slideUp"
} */

.headroom {
	transition: transform .25s ease-in-out;
	will-change: transform; }

.headroom--pinned {
	transform: translateY(0); }

.headroom--unpinned {
	transform: translateY(-100%); } 

.header--fixed {
	position: fixed;
	right: 0;
	left: 0;
	top: 0; }