

// Here is all scss code for footer blocks and elements 

// Start code here 



.footer {
 position: relative;
 width: 100%;
 height: 100px;
 background-color: palette(grey,x-light);
 z-index: 1000; }