

// Here is all scss code for header blocks and elements 

// Start code here 



.header {
 position: relative;
 width: 100%;
 height: 50px;
 background-color: palette(grey,xx-light);
 z-index: 3000; }

